html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600|Lato|Manrope:wght@700|Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900|Ubuntu:wght@300&display=swap');

body{background: aquamarine;
	font-family: 'Roboto', sans-serif;
	
}


/* styles.css */
.heart-icon {
    cursor: pointer;
    display: flex;
    margin-left: 15%;
    position: absolute;
}

// .product-list{
//     display: grid;
//     grid-template-columns: repeat(4, 1fr); /* П'ять карточок у рядку */
//     grid-template-rows: repeat(4, auto); /* П'ять рядків */
//     gap: 20px; /* Проміжок між карточками */
// 	margin-left: 5%;
// }

// .product-card{
// 	border: 1px solid blue;
//     width: fit-content;
// }
// .divHedIkon{
// 	display: flex;
// 	justify-content: space-between;
// }

