.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal-wrapper {
  background: rgba(0, 0, 0, 0.3019607843);
  width: 100vw;
  height: 100vw;
  position: fixed;
  z-index: 999;
  margin-left: -5%;
  margin-top: -3%;
}

.modalText {
  width: 560px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.div-ModalHeader {
  margin: 0 auto;
}

.product-image {
  display: flex;
  margin: 0 auto;
}

.logo-react {
  display: flex;
  margin: 0 auto;
  padding-top: 6px;
}

.close-icon {
  cursor: pointer;
  margin-top: 4%;
}

.div-ModalClose {
  display: flex;
  justify-content: right;
  margin-right: 4%;
}

.modal-body1 {
  font-size: 32px;
  display: flex;
  justify-content: center;
  margin-top: 8%;
  line-height: 38px;
}

.modal-body2 {
  font-size: 16px;
  color: #7F7F7F;
  width: 500px;
  display: flex;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  margin-top: 7%;
  line-height: 19px;
}

.button1-ModalImage {
  width: 170px;
  height: 48px;
  font-size: 16px;
  background: #8A33FD;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.modal2Bnt {
  width: 192px;
  height: 48px;
}

.button1-ModalImage2 {
  width: 170px;
  height: 48px;
  font-size: 16px;
  border-radius: 8px;
  color: #8A33FD;
  border: 1px solid black;
  background: white;
  cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: center;
  -moz-column-gap: 45px;
       column-gap: 45px;
  margin-top: 9%;
}

.mod2-p {
  display: flex;
  justify-content: center;
}

.divBtn {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}/*# sourceMappingURL=Modal.css.map */