body {
    
    font-family: sans-serif;
    
    
   background-color:black  

    }
    .main {
       width:96%;
      
       margin: 0 auto;
    }
    .header__block{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
.header__logo{ 
width: 357px;
height: 79px;
}
.header__link--style {
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

h1 {
    font-size: 50px;
    color: #FFFFFF;
    margin-top: 89px;
    
}
.servisec__block-main {
    display: grid;
    grid-template-columns: repeat(3,468px);
    text-align: center;
    gap: 25px;
    color:#FFFFFF;
    margin-bottom: 15%;
    margin-top: 40px;
     }
.q2 {
    background-color:  #635A4A;
}
.q3 {
    background-color: #B08C4D;
}
.servisec--tagline-p {
   color:  #FFFFFF; 
   font-size: 20px;
   width: 1180px;
   line-height: 28px;
   font-weight: 700;
}
.header__link-text {
    color: #E4B564;
    font-size: 18px;
    margin-left: 7px;
    display: flex;
    align-items: center;
   font-style: normal;
   font-weight: 400;
   line-height: 30px; 
}
.block-main-row {
    width: 467px;
    height: 468px;
    background-color: aqua;
    display: grid;
    justify-content: center;
    align-items: center;
}
.servisec__block-main-pillars {
    margin: 0px;
    font-size: 20px;
}
.pillars1 {
    background-color:#634F2C; 
    width: 467px;
    height: 468px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.pillars2 {
    background-color:#B4A385; 
    width: 467px;
    height: 468px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.pillars3 {
background-color: #B08C4D;
width: 467px;
height: 468px;
display: grid;
align-items: center;
justify-content: center;
}
.pillars4 {
    width: 715px;
    height: 468px;
    background-color: #635A4A;
    display: grid;
    align-items: center;
    justify-content: center;
   
}
.pillars5 {
    width: 715px;
    height: 468px;
    background-color: #B08C4D;
    margin-left: 250px;
    display: grid;
    align-items: center;
    justify-content: center;
}
 .block {
    display: flex;
    justify-content: space-between;
    margin-top: 94px;
    
}
.block__span{
color: #FFF;
font-size: 20px;
font-weight: 700;
border: none;
}
.block-r-1 {
    width: 467px;
    height: 313px;
    background-color: #0E0E0E;
}
.block-r-2 {
    width: 467px;
    height: 595px;
    background-color: #1F1F1F;
    margin-top: 24px;
}
.block-r-3 {
    width: 467px;
    height: 439px;
    background-color: #242424;
}
.block-r-4 {
    width: 467px;
    height: 470px;
    background-color: #E4B564;
    margin-top: 24px;
}
.block-r-5 {
    width: 467px;
    height: 255px;
    background-color: #1F1F1F;
    padding-top: 40px;
    
}
.block-r-6 {
    width: 467px;
    height: 255px;
    background-color: #0E0E0E;
    margin-top: 24px;
    padding-top: 40px;
    
}
.block-r-7 {
    margin-top: 24px;
    width: 467px;
    height: 255px;
    background-color: #0A0909;
    padding-top: 40px;
    
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 170px;
}
.footer__h1{
    font-size: 50px;
    color: #FFFFFF;
     width: 700px;
     margin-top: 40px;
     
}
.footer__logo{
    color: white;
    width: 185px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer--logo-text1{
    height: 50px;
    width: 70px;
    font-size: 43px;
    margin: 0;
    font-family: sans-serif;
}
.footer--logo-text2{
    margin: 0;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 17.5px;
}
.footer--logo-text3{
    margin: 0;
    color: white;
    font-family: sans-serif;
}
  
      
.footer__project{
    border: 1px solid #E4B564;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer--project{
    color: #E4B564;
text-decoration: none;
font-size: 18px;
font-style: normal;
font-weight: 400;
display: flex;
align-items: center;
}
.project {
    display: flex;
    justify-content: center;
}
.compani__logo {
    Width:487px;
    height:391px;
    background-color: #B08C4D;
    
    display: grid;
    justify-content: center;
    align-items: center;
}
ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0px;
    list-style: none;
    margin-top: 60px;
}
.one {
    
    background-color: #634F2C;
    }
.two {
    background-color: #E8D2AB;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 28px;
    
    
    }
.three {
    background-color: #E4B564;
}
.four {
    background-color: #635A4A;
}
.five {
    background-color: #B08C4D;
    color: #FFFFFF;
}
.six {
    background-color: #634F2C;
}
.compani__div{
    margin-bottom: 60%;
}
.compani__five{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 10px;
}
.compani {
    display: flex;
    align-items: center;
    justify-content: center;
}
.foto-logo {
    display: grid;
    
    
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: 156px;
    
    
}
h4 {
    color: #FFF;
text-align: center;
width: 326px;
font-size: 22px;
height: 140px;
font-weight: 500;
line-height: 36px; 
  margin: 0 auto;  
}
.logo-foto1 {
   margin: 0 auto;
    margin-top: 60px;
}
h5 {
    margin: 0px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 52px;
    padding-top: 45px;
    font-weight: 400;
   line-height: 28px;
}
h6 {
    margin: 0px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    color: #000000;
    margin-left: 52px;
    padding-top: 47px;

}
.text {
    padding-top: 56px;
}
h7{
    font-size: 20px;
    margin-left: 48px;
    
    color: #FFFFFF;
}
span {
    border: 4px solid;
    padding: 10px 0px 21px 6px;
    font-size:31px}
    .group1 {
    font-size:31px;
    margin: 0;
    margin-top: -10px;
}


