

.container {
    background-image: url(./foto/Фон1.png);
    width: 100%;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

    h1 {
width: 157px;
height: 22px;      
font-size: 22px;
font-weight: 700;
line-height: 22px;
color: #FFFFFF;
margin:18px 0px 0px 79px;
font-family: 'Ubuntu', sans-serif;
text-align: center;
}
h1:hover{
    color: #01813F;
}
 .block-header {
    height: 58px;
    background: #00000066;
    display: flex;
    
}
 .icon1 {
    width: 21px;
    height: 24px;
 }
.welcome-or {
    width: 200px;
    font-size: 14px;
    font-weight: 400px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 22px 79px 0px 27px;
    

}
.w1 {
    margin-left: auto;margin-top: 18px;
    }
    .w2:hover .icon2{
        fill:  #022263;
    }

    .w2, .w3, .w4 {
        margin: 18px 0px 0px 25px;
       }
    .square {
        width: 18px;
        height: 18px;
        background-color: #3CB878;
    }
    .btn-facebook {
        width: 160px;
        height: 48px;
        background-color: #305DB8;
        display: flex;
        position: absolute;
        margin-left: 58px;
        border-radius: 5px;
        border: none;
        
    }

    .btn-facebook:hover {
        background-color: #022263; 
        
    }
    
    .band-one {
        width: 1px;
        height: 28px;
        margin:10px 0px 0px 19px;
        opacity: 10%;}
    .band-two{
        width: 1px;
        height: 28px;
        margin:10px 0px 0px 7px;
        opacity: 10%; 
        }
    .btn-google {
        width: 160px;
        height: 48px;
        background-color: #DF4A32;
        display: flex;
        margin-left: 51%;
        border-radius: 5px;
        border: none;
    }
    
    
    .btn-google:hover{
        background-color: #AB1F09;
    }
    .container-section {
        width: 444px;
        height: 584px;
        background-color: #FFFFFF;
        position: absolute;
        margin-top: 54px; 
    }
    .m{
        display: flex;
        justify-content: center;
    }
.top-section{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
h2{ 
    margin-left: 40px;
    
    color: #434343;
    
    font-family: Ubuntu;
font-size: 20px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: center;

}
h3{
    margin-left: 49%;
    
    
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    

    
}
h3:hover{
    color: #01813F;
    text-decoration: underline;
    
}
.logo-facebook {
    margin: 12px 0px 0px 16px;
}
.logo-google {
    margin: 15px 0px 0px 12px;
}
.facebook-text{
    margin-left: 15px;
    margin-top: 12px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
}
.google-text {
    margin-left: 15px;
    margin-top: 12px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
}
.left-or {
    width: 152px;
    margin-left: 60px;
    color: #F2F2F2;
    
    opacity: 15%;
}
.right-or{
    width: 152px;
    margin-right: 57px;
    opacity: 15%;
    color: #F2F2F2; 
}
.block-or {
display: flex;
margin-top: 30px;

}
.or {
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin: 0px;
    
    
} 


.form {
    width: 302px;
    height: 44px;
    
    border: 1px solid #F2F2F2;
    margin-left:61px;
    margin-top: 13px;
    padding-left: 20px;
    
}
.form.footer:hover {
    background-color: #01813F; 
    color: white; 
}

input::placeholder {
    color: #BEBEBE;
    font-size: 14px;
    font-style: ubuntu;
  }
  .form:focus{box-shadow: 0px 3px 8px 0px #00000036;}
  
  .checkbox-text {font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    
    font-family: Verdana;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    }
  .checkbox{width: 20px;
height: 20px;}
.checkbox::checkbox {background-color: #DF4A32;}
 .checkbox-div {display: flex;margin: 18px 0px 5px 61px}
 .footer {background-color: #3CB878;text-align: center; 
    line-height: 16px;font-size: 16px;letter-spacing: 1px;
    border-radius: 5px;
    width: 328px;
    }
    .footer:focus{
        background-color:#01813F ;
    }
    .footer::placeholder{ color:  #FFFFFF;}
    .tearmsConditions{color: #3CB878;}
    .tearmsConditions:hover{
        color: #01813F;
        border-bottom: 2px solid #01813F;
    }

    .form:focus {
        outline: none; 
        border: 1px solid #F2F2F2; 
    }
    .iconHover1{
        display: none; 
      }
      
      .w1:hover .icon1 {
        display: none; 
      }
      
      .w1:hover .iconHover1 {
        display: inline; 
      }
      .iconHover2{
        display: none; 
      }
      
      .w2:hover .icon2 {
        display: none; 
      }
      
      .w2:hover .iconHover2 {
        display: inline; 
      }
      
      .iconHover3{
        display: none; 
      }
      
      .w3:hover .icon3 {
        display: none; 
      }
      
      .w3:hover .iconHover3 {
        display: inline; 
      }
    .textHover:hover{
        color: #01813F;
    }
    .form.footer {
        box-shadow: none;
        color: #FFFFFF;
    }
    


    

.checkbox {
    display: none;
}

.checkbox + label {
    position: relative;
    padding-left: 30px; 
    cursor: pointer;
}

.checkbox + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2; 
}



.checkbox:checked + label:before {
    content: "\2714"; 
    color: green;
    font-size: 20px;

}





