@charset "UTF-8";
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* П'ять карточок у рядку */
  grid-template-rows: repeat(4, auto); /* П'ять рядків */
  margin-left: 5%;
}

.product-card {
  border: 2px solid white;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 15%;
  padding: 10px;
}

.icons {
  display: flex;
  justify-content: space-around;
}/*# sourceMappingURL=ProductStyle.css.map */