

.product-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* П'ять карточок у рядку */
    grid-template-rows: repeat(4, auto); /* П'ять рядків */
    // padding-left: 5%;
	margin-left: 5%;
}

.product-card{
	border: 2px solid white;
    width: fit-content;
    margin-top: 15%;
    padding: 10px;
    margin-left: 10px;
    background-color: lightgoldenrodyellow;
    border-radius: 25px
}
.icons{
	display: flex;
	justify-content:space-around;
}

.button-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    background-color: darkcyan;
    padding: 10px;
    border-radius: 12px;
}






