
.contain {
    width: 1920px;
    height: 1012px;
    background-image: url(./foto/section-1.jpg);
    background-size: cover;
    width: 1920px;
    height: 1012px;
   
 }
.menu-header-logo1 {
    list-style-type: none;
    margin-left: 380px;
}
.menu-header-logo2 {
    list-style-type: none;
    margin-top: 49px;
    margin-left: 27px;
}
.menu-header {
list-style-type: none;
font-family: 'Montserrat', sans-serif;

color:  #FFFFFF99;
margin-top: 50px;
font-size: 16px;
font-weight: 700;

margin-left: 25px;

}

.rrr{
    margin-left: 268px;
}
.rrr:hover{
    color: #18CFAB;
}


.menu-header.rrr {
    position: relative;
    text-decoration: none; 
}

.menu-header.rrr::before {
    content: "";
    position: absolute;
    bottom: 4px; 
    left: 0;
    width: 0;
    height: 3px; 
    background-color: #18CFAB; 
}

.menu-header.rrr:hover::before {
    width: 100%; 
}

.menu-ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.header-bloc {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
     
    z-index: 100; 
    background:  rgba(94, 93, 88, 0.6);
    width: 1920px;
    height: 120px;
}
.wordpressTheme{
font-family: 'Montserrat';
font-size: 35px;
font-weight: 700;
line-height: 1px;
color: #FFFFFF;
margin-top: 15%;
text-align: center;

}
.wordpressSpan{
    color: #18CFAB;
}
.creative{
    font-family: 'Montserrat';
font-size: 78px;
font-weight: 700;
line-height: 1px;
color: #FFFFFF;


text-align: center;

}
.enjoy{
     font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
font-size: 34px;
font-weight: 400;
line-height: 1px;
text-align: center;
color: #D4D4D4;


}
.buttonDiv{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: -22px
}
.exploreNow-btn {
    text-decoration: none;
    background-color: #18CFAB;
    border: none;
    font-family: 'Montserrat';
font-size: 15px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0px;
text-align: center;
color: #FFFFFF;
width: 169px;
height: 68px;
margin-left: 40px;
}
.purchaseNow-btn{
    border: none;
    background-color: #00CBF6;
    width: 169px;
height: 68px;
font-family: 'Montserrat';
font-size: 15px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0px;
text-align: center;
color: #FFFFFF;
margin-left: 40px;
}

.btn {
    position: relative;
    margin-top: 80px;
}

.exploreNow-btn,
.purchaseNow-btn {
    
    color: #fff; 
    
    border: none;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 169px;
    height: 68px;
    background-color:#FFFFFF; 
    z-index: 1; 
    opacity: 1; 
    border-radius: 5px;
    margin-left: 40px;
    margin-top: -6px;
    
}
.two::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 169px;
    height: 68px;
    background-color:#FFFFFF; 
    z-index: 1; 
    opacity: 1; 
    border-radius: 5px;
    margin-left: 40px;
    margin-top: -6px;
}

.option {
    width: 482px;
    height: 360px;
    background-color: #1C2A33;
    margin-top: 5px;
    border: none;
}
.text-option{
    color: #18CFAB;
    font-family: 'Montserrat';
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
padding-top: 30px;
}


.fully {
    width: 482px;
    height: 360px;
    background-color: #18CFAB;
    margin-top: 5px;
    border: none;
}



.logo1, .logo2, .logo3, .logo4{ 
    margin-left: 43%;
    margin-top: 85px;
}
.logoEnd{
    margin-left: 38%;
}
.div-footer{
    display: flex;
    width: 1922px;
    height: 370px;
    margin-top: 257px;
}
.text-fully{
    font-family: 'Montserrat';
font-size: 20px;
font-weight: 700;
line-height: 24px;
color: #FFFFFF;
text-align: center;
padding-top: 36px;
}
.logo2{
    
    padding-top: 15px;
    margin-left: 39%;
}
.support{
    width: 482px;
    height: 360px;
    margin-top: 5px; 
    border: none;
    background-color: #1C2A33;
}
.text-support{
    color: #18CFAB;
    font-family: 'Montserrat';
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: center;
padding-top: 32px;

}
.device{
    width: 482px;
    height: 360px;
    margin-top: 5px;
    border: none;
    background-color: #18CFAB;
    
}
.text-device{
    font-family: 'Montserrat';
font-size: 20px;
font-weight: 700;
line-height: 24px;
color: #FFFFFF;
margin-top: 72px;
text-align: center;
}

.text-services{
    
    margin-left: 41%;
    font-family: 'Ubuntu', sans-serif;
font-size: 36px;
font-weight: 400;
line-height: 40px;
color: #4E4E4E;

width: 225px;

}

.hr1{
    
            border: none; 
            height: 1px; 
            background-color: #18CFAB; 
            border-width: 100px;
            width: 76px;
            margin-top: 26px;
            margin-left: 46%;
}
.hr2{
    
            border: none; 
            height: 1px; 
            background-color: #18CFAB; 
            border-width: 100px;
            width: 76px;
            margin-left: 47%;
            margin-top: -6px;
}

.menu-servic-ul{
    
    list-style-type: none;
    display: flex;
    width: 1160px;
    margin-top: 50px;
    background:#F8FBEF;
    padding: 0px;
    height: 68px;
    }
    .menu-servis-li{
        position: relative;
        color: #717171;
        border: 1px solid #DADADA;
        padding: 22px;
        font-family: 'Ubuntu';
        font-weight: 700px;
        width: 1160px;
        text-align: center;
        cursor: pointer;
        
    }
    .menu-servis-li:hover {
        border: 2.5px solid #18CFAB;
    }
 

.menu-servis-li.active {
    background-color:gold;
    
    color: white;
  }


  .highlight {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color:#18CFAB;
    opacity: 0;
    transform: rotate(45deg); 
    transform-origin: 50% 50%; 
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    margin-left: 93px;
    margin-top: 60px;
  }




 .bloc-services{
    width: 1160px;
    height: 375px;
    overflow: hidden;
  margin-top: 52px;
    margin-left: 386px;
 }

 .img-servis{
    margin-top: -65px;
 }
 .install {
    background-image: url(./foto/BG.png);
    width: 1920px;
    height: 470px;
    background-size: cover;
    margin-top: 100px;
    padding: 0;
}

.install {
    background-image: url(./foto/BG.png);
    width: 1920px;
    height: 470px;
    background-size: cover;
    margin-top: 100px;
    padding: 0;
}

.cont {
    width: 1142px;
    height: 470px;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
}



.text-img {
    font-family:  'Ubuntu';
    font-size: 16px;
    color: #777777;
    padding-left: 13px;
    margin-left: 200px;
   
}

.h2-ready{
font-family: 'Montserrat',sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 40px;
letter-spacing: 2px;
color: #18CFAB;
text-align: center;
padding-top: 127px;

}
.p-smooth{
font-family: 'Ubuntu';
font-size: 16px;
font-weight: 400;
letter-spacing: 0.8px;
color:  #D8D8D8;
text-align: center;
}



.div-purchase-btn {
    position: relative;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    
    margin-left: -22px
}

.purchase-btn {
    width: 168px;
    height: 68px;
    color: #fff; 
    background-color: #18CFAB;
    border: none;
    border-radius: 5px;
    position: relative;
    z-index: 2; 
    margin-top: 6px;
    font-family: 'Montserrat';
font-size: 15px;
font-weight: 700;


}

 .div-purchase-btn::before {
    content: "";
    position: absolute;
    
    width: 168px;
    height: 68px;
    background-color: #FFFFFF;
    z-index: 1;
    opacity: 1;
    border-radius: 5px;
   
}

.bloc-amazing{
    width: 1920px;
    height: 1212px;
    background-color: #E9EDEF;
}
.text-amazing{
    margin: 0px;
    color: #4E4E4E;
    font-family: 'Ubuntu';
font-size: 36px;
font-weight: 400;
line-height: 40px;
letter-spacing: 1.5px;
text-align: center;
padding-top: 97px;
}

.hr-amazing{
    
    border: none; 
    height: 1px; 
    background-color: #18CFAB; 
    border-width: 100px;
    width: 76px;
    margin-top: 26px;
    margin-left: 47.7%;
}
.hr2-amazing{

    border: none; 
    height: 0.5px; 
    background-color: #18CFAB; 
    border-width: 100px;
    width: 76px;
    margin-left: 48.5%;
    margin-top: -6px;
}


.li-amazing {
    
    color: #717171;
    border: 1px solid #DADADA;
    padding: 22px;
    font-family: 'Ubuntu';
    background-color: #E9EDEF;
}
.ul-amazing{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.img-amazing{
    flex-wrap: wrap;
    width: 1140px;
    height: 625px;
    
    margin-left: 397px;
    margin-top: 75px;
    display: inline-flex;
    line-height: 10px;
}
.img1-amazing{
    width: 277px;
    height: 156px;
    padding-top: 50px;
    position: absolute;
    text-align: center;
}
.icon-amazing{
    text-align: center;
}
.img2{
    margin-left: 281px;
}
.p-img1-amazing{
    font-family: 'Montserrat';
font-size: 14px;
font-weight: 700;
line-height: 25px;
color: #18CFAB;
}

.p2-img1-amazing{
    font-family: 'Ubuntu';
font-size: 12px;
font-weight: 300;
letter-spacing: 1px;
line-height: 25px;
color: #8A8A8A;

}
.li-amazing:hover{
    border:2px solid #18CFAB;
    margin-top: -2px;
    
}
 .img1-amazing img, .img1-amazing , .p-img1-amazing, .img1-amazing , .p2-img1-amazing, .img{
   
    border: 2.5px solid transparent; 
  }
 
.img1-amazing:hover{
     border-top: 2px solid #18CFAB;
     
  }
  .btn-load{
    border: none;
    border-radius: 5px;
    background-color: #18CFAB;
    width: 168px;
    height: 63px;
    font-family: 'Montserrat';
font-size: 14px;
font-weight: 700;
color: #FFFFFF;
text-align: left;
padding-top: 22px;
padding-left: 23px;
margin-top: 73px;
margin-left: 43%;

    }

.btn-text-load{
    padding-left: 19px;
    width: 110px;
    height: 40px;
    margin-left: 13px;
    display: flex;
    margin-top: -17px;
    
}


.additional-images {
    
    
    margin-left: 120px;
    margin-top: 218px;
   
   
}


 .bloc-breaking-news{
    width: 1160px;
    height: 744px;
    
    margin-left: 380px;
    margin-top: 85px;
    
}
 .text-breaking-news{
    color: #4E4E4E;
    text-align: center;
    font-family: 'Ubuntu';
font-size: 36px;
font-weight: 400;
line-height: 40px;
letter-spacing: 1px;
text-align: center;

 }

 .hr-breaking-news{
    border: none; 
    height: 1px; 
    background-color: #18CFAB; 
    border-width: 100px;
    width: 76px;
    margin-top: 27px;
    margin-left: 46.7%;
 }

.hr2-breaking-news{
    border: none; 
    height: 1px; 
    background-color: #18CFAB; 
    border-width: 100px;
    width: 76px;
    margin-left: 47.5%;
    margin-top: -6px;
}




.img-breaking-news {
    position: relative;
    width: 264px;
    height: 281px;
    
  }

  .overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 62px;
    background-image: url('./foto/Rectangle5.png'); 
    margin-left: 193px;
    }

    .overlay-text {
        position: absolute;
        top: 6%;
        left: 87%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 16px; 
        
        font-family: 'Ubuntu';
      }

      .overlay-text2{
        position: absolute;
        top: 15%;
        left: 88%;
        transform: translate(-50%, -50%);
        color: #fff; 
        font-size: 16px; 
        
        font-family: 'Ubuntu';
      }

      .post{
        font-size: 18px;
        font-family:'Montserrat';
        color: #717171;
        margin-left: 17px;
        line-height: 0px;
      }

      .admin-coment{
        font-size: 14px;
        font-family:'Ubuntu';
        color: #777777;
        width: 210px;
        height: 40px;
        margin-left: 17px;
      }
      .span-admin{
        margin: 20px;
      }
    .bloc-breaking{
        height: 650px;
        width: 1160;
        
    
    
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    padding-top: 39px;
    }

    .img-breaking-news:hover .post {
        color: #18CFAB;
    }
    .img-breaking-news:hover .overlay-image {
    background-image: url(./foto/Rectangle5\ –\ копія.png);
    }
    .people{
        background-image: url(./foto/section3.jpg);
        height: 853px;
        width: 1920px;
        margin-top: 185px;
        
    }

    .text-peple{
        font-family: 'Ubuntu';
font-size: 36px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0px;
text-align: center;
color: #FFFFFF;
padding-top: 100px;
    }
    .img-ok{
      margin-left: -10px;  
    }
.people-blog{
    
    
    width: 1160px;
    height: 206px;
    margin-left: 380px;
}
.people-logo{
    margin-left: 49%;
    margin-top: 50px;
}

.hasan-text{
   
    font-family: 'Ubuntu';
font-size: 16px;
font-weight: 300;
line-height: 30px;
letter-spacing: 1px;
text-align: center;
color: #BBBBBB;
}

.hasan-ali{
  
margin-top: 25px;
font-family: 'Montserrat';
font-size: 16px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0px;
text-align: center;
color: #18CFAB;


}
.hasan-job{
    font-family: 'Ubuntu';
    font-size: 13px;
    font-weight: 300;
    line-height: 0px;
    text-align: center;
    color: #BBBBBB;
    }

.people-img{
    width: 483px;
    height: 70px;
    margin-left: 29%;
    margin-top: 50px;
}
.hasan-img{
    margin-left: 494px;
    margin-top: 30px;
}

 .people-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .hover-icon1:hover{
    background-image:url(./foto/Arrowy\ –\ копія.png);
    }
    
 
 .hover-icon2:hover{
    background-image: url(./foto/Arrowy.png);

 }
 .breaking-link{
    text-decoration: none;
 }

 

 

 
    
 .people-carousel {
   display: flex; 
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-item {
    flex: 0 0 100%;
    transition: transform 0.5s ease-in-out;

  }
  .hasan2{
    margin: 0px;
  }
    
      
      
  .carousel-item.active {
    opacity: 1; 
    transform: translateX(0);
    z-index: 1; 
  }

  
  .carousel-item:not(.active) {
    opacity: 0; 
    transform: translateX(100%); 
    z-index: 0; 
    position: absolute; 
    left: 0;
    top: 0;
    right: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; 
  }

  


  

  
  




 



 





















