@charset "UTF-8";
/* Counter.scss */
/* Counter.scss */
/* Counter.scss */
/* Counter.scss */
.block-div {
  position: fixed; /* Фиксированное позиционирование для размещения в правом верхнем углу */
  top: 0; /* Размещение вверху */
  right: 0; /* Размещение справа */
  display: grid; /* Используем CSS Grid */
  grid-auto-flow: column; /* Размещаем элементы в ряд */
  gap: 5px; /* Добавляем немного промежутка между элементами */
  margin-top: 10px;
}

.cart-counter,
.favorite-counter {
  display: flex; /* Используем flexbox для расположения элементов в строку */
  align-items: center; /* Выравниваем элементы по вертикали по центру */
}

.cart-counter .spanBacketLike,
.favorite-counter .spanBacketLike {
  display: flex; /* Позволяет изображению и тексту располагаться внутри flex-контейнера */
  align-items: center; /* Выравниваем изображение и текст по вертикали */
}

.cart-counter .spanBacketLike img,
.favorite-counter .spanBacketLike img {
  margin-right: 5px; /* Добавляем немного отступа между изображением и текстом */
}

.w {
  margin-right: 150px;
}

.q {
  margin-right: 70px;
}/*# sourceMappingURL=Counter.css.map */