
.container{
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
}
 .img-main{
    display: block;
 }



ul{
    display: flex;
    justify-content: center;
    margin: 50px;
    
}

li{
    padding-left: 25px;
    line-height: 22px;
    font-size: 11px;
    letter-spacing: 1.1px;
    color: #4E4E4E;
    font-family: 'Roboto', sans-serif;
    
}
.div-img{
    display: flex;
    justify-content: center;
}
ul li:first-child {
    margin-left: 0px;
}
.main-section{
    margin: 0 auto;
}

.div-photo-posts{
  
  margin-top: 30px;
    display: flex;
}
.container-photo{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    flex-wrap: wrap;
    
    
    justify-content: center;
}

.title{
    margin-left: 19px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #4E4E4E;
}

h1{
    font-size: 16px;
    color: #4E4E4E;
   margin-top: 100px;
  
    
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
   
    
}
.jornal{
    font-size: 12px;
    font-weight: 400;
    color: #7C7C7C;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
}
.text-posts{
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    color: #5C5C5C;
}
.text-instagram{
    color: #4E4E4E;
    margin-right: 9px;
   
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
}
.instagram-block{
    
    background-color: #F5F5F5;
    margin: 0 auto;
  margin-top: 70px;
    
}

.instagram-photo {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    gap: 10px;
    margin-top: 30px;

}

.text-instagram-div{
    display: flex;
    justify-content: space-between;
}
.text-instagram2{
    font-size: 16px; 
    
}

.div-footer  {
    margin-top: 50px;
    background: #000000;
    height: 350px;
}
.title-footer{
    color: #FEFEFE;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
   padding-top:  66px; 
   
}
.text-footer {
    color: #B9B9B9;
    text-align: center;
   
    margin: auto;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}
.icon-footer{
   margin-left: 44%;
    margin-top: 30px;
}
.contacts{
color: #B9B9B9;
font-weight: 400;
text-align: center;
font-size: 16px;
font-family: 'Roboto', sans-serif;
margin-top: 30px;
}
 a{
    text-decoration: none;
    color: #B9B9B9;
 }
 ul,li:hover{
    color:#57A4A4;
 }

.menu-nav-2{
    display: none;
}
 .button-menu{
    display: none;
 }
 .menu-ul-2{
    display: none;
 }

.img-footer{
    display:none;
}
.instagram-photo img{
    max-width: 100%;
}
 


@media (min-width: 319px) and (max-width: 768px) {

  


.container-photo{
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    flex-wrap: wrap;
    
    
    justify-content: center;
}
.text-instagram3{
    display: none;
}
.text-posts{
    display: none;
}
.instagram-photo{
    display: grid;
    grid-template-columns: repeat(1,2fr);
    margin: initial;
    gap: 10px;
    
}
.instagram-photo div{
    flex: 1;
}
.instagram-photo img{
    max-width: 100%;
}
.instagram-block{
    width: 100%;
}
.text-instagram-div{
    width: 100%;
}

    .menu-ul-1{
        display: none;
    }
    .img-main {
       
        max-width: 767px;
        margin: 0 auto;
    }
    .menu-icon{
        width: 40px;
        height: 40px;
    }
    .menu-icon2{
        width: 87px;
        height: 84px;
    }
    .menu-icon2 {
        display: none;
}
.title{ margin: 0;}
.icon-footer{margin-left: 38%;}
.menu-ul-2{ 
    display: block; 
    
    margin: 0px;
    border: 1px solid;
}
.menu-nav-2{
    position:absolute;
    background-color:
     #F5F5F5;width:
      679px;height: 800px; }
.button-menu{
    display: block;
    margin:60px;
    background-color: #000000;
    margin-left: 85%;
}
.text-footer{
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    width: 85%;
    font-family: 'Roboto';
}
.contacts{
    font-size: 14px;
    line-height: 24px;
    width: 400;
    font-family: 'Roboto';
}
.title-footer{
    font-size: 14px;
    font-family: 'Roboto';
}
.menu-nav-2{
    width: 60.5%;
    margin-left: 44%;
    height: 20%;
    margin-top: -47px;
}
ul li:first-child {
    display: none;
}
.item2{ 
    font-size: 11px;
    line-height: 52px;
    color: #4E4E4E;
    letter-spacing: 1.1px;
    font-family: 'Roboto';
    
}

.menu-ul-2:hover{color: #57A4A4;}
.item2:hover{background:#B9B9B9}
.div-photo-posts{
    margin-top: 20px;
    display: block;
}

}










