.nav-link-cart{ 
    color: black;
    font-weight: 600;
    font-size: 25px;
}
.wrapper{
 background-color: green;
width: 400px;;
height: 500px;
}

.ok{
    display: flex;
    justify-content: center;
   
}
