.divButton{
    display: flex;
    justify-content: center;
    column-gap: 25px;
    
}
.buttonMain {
    width: 200px;
    height: 60px;
    font-size: 16px;
    margin-top: 3%;
    color: white;
    border-radius: 10px;
    border: none;
    background: cornflowerblue;
    cursor: pointer;
}