.header__block{
    display: flex;
    background-color: aliceblue;
    width: 100%;
    height: 110px;
    justify-content: space-evenly;
    align-items: center;
   margin: 0 auto;
   
    
}



.foto{
    background-size: cover;
}
.nav__header-block{
    display: flex;
    justify-content: space-evenly;
    
}
.nav__header-block {
    background-color:blue ;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    /* padding: 5px; */
    

}
.nav__header-li{
    list-style-type: none;
}
.nav__header-a:hover{
    color: gold;
}
a{
    
    color:white;
}
.header__messengers-logo{
    display: flex;
    gap: 15px;
}

.header__phone-p{
    display: inline-flex;
    position: absolute;
    padding-top: 0.8%;
    padding-left: 1%;
    font-size: 20px;
    color: red;
    font-weight: bold;
}
  .header__phone-block{
    width: 187px;
  }
  .header__logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: darkblue;
}
.header__working ,.header__working-from{
    
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color:darkblue;
    text-align: center;
    margin-top: 7px;
}



.nav__header-a{
    color: white;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    font-size: 21px;
    text-decoration: none;
   
}

.header__logo-name{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.slogan__div{
    /* width: 50%; */
    height: 400px;
    padding-top: 40px;
    /* padding-right: 20px; */
   
}
.slogan__photo{
    /* width: 40%; */
    height: 400px;
    
   
}
.slogan__block{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.services{
    margin-left: 10%;
}
.slogan{text-align: center;
    font-size: 30px;
    color: red;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    /* text-shadow: 2px 2px 4px rgba(14, 8, 88, 0.5); */
}
.slogan__contact{
    border: 1px solid;
    width: 226px;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    margin-left: auto;
}
.services__text{
    padding-top: 6%;
    font-size: 25px;
    color: darkblue;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
}
.slogan__photo-img{
     max-width: 100%; /* Устанавливаем максимальную ширину изображения в 100% от родительского контейнера */
      height: auto; /* Автоматическое подстраивание высоты, чтобы сохранить пропорции */
      display: block; /* Убираем лишние пробелы вокруг изображения */
      margin: auto;
} 
.text{
    width: 90%;
    margin: 0 auto;
    font-family: sans-serif;
    line-height: 30px;
    text-indent: 5%;
    font-size: 19px;
}
hr{
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 1%;
}
.hr2{
    margin-top: 0px;
    margin-bottom: 0px;
}
h2{
     width: 90%;
    margin: 0 auto;
    font-family: sans-serif;
    line-height: 30px;
    /* text-indent: 5%; */
    font-size:19px;
}
.h2{
    width: 90%;
    margin: 0 auto;
    font-family: sans-serif;
    line-height: 30px;
    /* text-indent: 5%; */
    font-size:19px; 
}
.consultation{
    border: 1px solid skyblue;
    width: 35%;
    margin: 0 auto;
    height: 200px;
    background-color: skyblue;
    border-radius: 30px;
    margin-top: 3%;
    width: 35%;
    min-width: 400px;
    height: 200px;
}
.consultation2{
    margin: 0 auto;
    margin-top: 5%;
    
}
.consultationM{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-right: 7%;
    
}
.consultation__p{
    text-align: center;
    font-size: 27px;
    margin-top: 3%;
    color: darkblue;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
}
.h1{
    font-size: 23px;
    color: darkblue;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    text-indent: 10%;
    margin-top: 2%;
    margin-left: 7%;
}
.text2{
    width: 90%;
    margin: 0 auto;
    font-family: sans-serif;
    line-height: 30px;
    margin-top: 1%;
    font-size: 19px;
    padding-bottom: 1%;
}
.bot{
    padding-bottom: 2%;
}
.text__ul{
    margin-left: 5%;
}
.text__ul1{
    margin-left: 4%;
    margin-top: 2%;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff; /* Цвет фона вашего заголовка */
     /* Устанавливаем z-index, чтобы элемент был выше других элементов на странице */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавляем тень, чтобы элемент был выделен на фоне */
  }
  nav {
    position: fixed;
    top: 120px; /* Высота вашего header, убедитесь, что это значение соответствует высоте вашего header */
    width: 100%;
    background-color: #ffffff;
    z-index: 900; /* Значение z-index должно быть меньше, чем у header */
  }
  
  /* Добавим немного отступа для контента под nav */
  body {
    margin-top: 190px; /* Высота header + nav */
  }
  .why__us-h1{
text-align: center;
font-family: sans-serif;
font-size: 23px;
font-weight: bolder;
color: red;

padding: 75px;
  }
  .why__us{
    background-color: skyblue;
    width: 90%;
    height: 550px;
    margin: 0 auto;
    margin-top: 27px;
    /* border-radius: 60px; */
  }
  .why__us-div{
    display: flex;
    justify-content: space-evenly;
  }
  .why__us-p1,.why__us-p2 {
    width: 250px;
    
  }
  .why__us-p1{
color:  red;

font-size: 19px;
font-weight: bolder;
font-family: cursive;
padding: 30px 0;
  }
.why__us-p2{
    color: navy;
    
    width: 200px;
    
    font-size: 16px;
    font-family: sans-serif;
    line-height: 21px;
}
.disinfection__photo{
    display: flex;
    justify-content: center;
    gap: 5px;
}
/* .disinfection__h1 {
    text-align: center;
} */
.disinfection{
    width: 90%;
    
    margin: 0 auto;
}
.disinfection__how{
    /* margin-left: 10%; */
    width: 90%;
    
    font-family: sans-serif;
    line-height: 30px;
    margin-top: 2%;
    font-size: 21px;
}
.img2{
    border: 1px solid lightgrey;
}
.disinfection__ul{
    margin-left: 5%;
}
.disinfection__text-li{
    /* width: 90%;
    */
    font-family: sans-serif;
    line-height: 30px;
    /* margin-top: 1%; */
    font-size: 19px;
}
.method{
    width: 90%;
    margin: 0 auto;
}
.processing__div-main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    margin-top: 5%;
    row-gap: 8%;
}
.processing__h1{
    text-align: center;
    margin-top: 4%;
}
.processing{
    width: 70%;
    margin: 0 auto;
    /* height: 900px; */
    margin-bottom: 10%;
}
.processing__p{
    text-align: center;
    padding:2%;
    background-color: skyblue;
    color: black;
    font-family: sans-serif;
    font-size: larger;
}
.problem{
    background-color: skyblue;
    padding-top: 1%;
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
}
.method__strong{
    margin-top: 5%;
    font-size: 20px;
    line-height: 50px;
    margin-left: 5%;
    /* background-color: skyblue;
    padding: 8px;
    border-radius: 23px;
} */
}
.method__ul{
    list-style-type: none;
}
.method__h1{
    text-align: center;
    margin-bottom: 3%;
}
.method__p {
    text-indent: 2%; /* Измените значение на то, которое вам подходит */
  }
.footer{
    margin-top: 2%;
    background-color: gold;

}
.services__a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Ubuntu';
    font-weight: bold;
}
.services__div-link{
    width: 225px;
    height: 50px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background: #007ade;
    margin-bottom: 15px;
    text-align: left;
    padding-left: 20px;
    border-radius: 15px;
}
.services__div-link:after{
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    /* background-image: url(./images/free-icon-triangle-3013315.png); */
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    width: 13px;
    height: 50px;
    
    background-color: gold;

}
.dez__blok{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
    justify-items: center;
}
/* Стили для nav и header */
/* Стили для nav и header */
/* Стили для header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    
    z-index: 1000;
  }
  
  /* Стили для nav */
  nav {
    position: fixed;
    width: 100%;
    top: 110px; /* Учитывайте высоту header */
    
    z-index: 900; /* Устанавливаем меньший z-index для nav, чтобы быть ниже header */
  }
  
  /* Стили для ваших div-элементов */
  .dez__blok {
    margin-top: 50px; /* Установите отступ сверху, равный сумме высот header и nav */
  }
  
  .section{
    width: 90%;
    margin: 0 auto;
  }
  .dez{
    font-size: 23px;
    color: darkblue;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    text-indent: 10%;
    margin-top: 2%;
  }
  .services__a:hover{
color: gold;
  }
  /* .img__t{
    border: 1px solid blue;
    width: 500px;
    height: 300px;
    margin: 0 auto;
  }
   */
.img-ykyc-klop{
    display: block;
    margin: 0 auto;
}
  