.wrapper {
    background-image: url(./foto/background1.png );
    font-family: sans-serif;
    width: 1366px;
    height: 768px;
    margin:auto
    
}
.text-logo-one {
    color: #FFFFFF;
    font-size: 29px;
    line-height: 30px;
    font-weight: 700;
    height: 30px;
    margin: 0px;
    margin-left: 13px;
    padding-top: 3px;
 }
 .text-logo-two {
font-size: 18px;
font-weight: 700;
line-height: 18px;
color: #FFFFFF;
height: 20px;
margin: 0px;
margin-left: 13px;
margin-top: 2px;
}
.block-logo {
    width: 130px;
    padding-top: 51px;
    margin-left: 165px;
    }
   
.email-text{
font-size: 18px;
font-weight: 400;
line-height: 18px;
 color:  #FFFFFF;
 margin: 0px;
 padding-top: 5px;
 margin-left: 35px;
}
.telephone {
font-size: 18px;
font-weight: 400;
line-height: 18px;
color: #FFFFFF;
margin: 0px;
width: 500px;
padding-top: 13px;
margin-left: 120px;
}
.link-logo {
    text-decoration: none;
}
.block-contacs {
    width: 425px;
    margin-left: auto;
    margin-top: -54px;
}
.block-logo-text{
    margin-left: 50px;
    margin-top: -54px;
}
.link-email {
    text-decoration: none;
}
.link-telephone {
    text-decoration: none;
}
.text-tours{
    font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 18px;
color: #FFFFFF;
width: 220px;
margin: 0px;
}

    

.block-tours-one {
    margin-left: 165px;
    margin-top: 22px;
}
.block-tours-two {
    margin-top: 22px;
    margin-left: 61px;
}
.block-tours-three {
    margin-left: -20px;
    margin-top: 17px;
}
.block-tours-four {
    margin-left: 165px;
}
.block-tours-five {
    margin-left: 61px;
}
.block-tours-six {
    margin-left: -20px;
}
.text-tours {
    text-align: center;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 37px;
}
.footer-inform {


color: #FFFFFF;
font-size: 12px;

text-align: center;
margin-top: 15px;



}
.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
a {
    text-decoration: none;
}

.text-logo-one:hover {
    color: #F26522;
}
.text-logo-two:hover {
    color: #F26522;
}
.email-text:hover {
    color: #F26522;
}
.telephone:hover {
    color: #F26522;
}




 
/* Сразу скрываем вторую картинку */
.change-photos .change-photo:nth-of-type(2) {
    display: none;
  }
  
  /* При наведении курсора на родительский класс change-photos первую картинку скрываем, а вторую показываем */
  
  .change-photos:hover .change-photo:nth-of-type(1) {
    display: none;
  }
  
  .change-photos:hover .change-photo:nth-of-type(2) {
    display: block;
  }
  
  /*.change-photos:hover {
    cursor: pointer;
  }*/
  .shopping-tours:hover {
    color: #F26522;
  }
  .from {
font-size: 10px;
font-weight: 400;
line-height: 10px;
color: #FFFFFF;
margin: 0px;
margin-left: 16px;
padding-top: 7px;
}
.additional-information {
    border: 1px solid #F26522;
    background-color: #F26522;
    width: 297px;
    height: 55px;
    margin-top: -61px;
    margin-left: 1px;
    position: absolute;
}


.price {
font-size: 20px;
font-weight: 400;
line-height: 20px;
color: #FFFFFF;
margin: 0px;
margin-left: 16px;
padding-top: 8px;
}
.view-detailis{
font-size: 14px;
font-weight: 400;
line-height: 14px;
color: #FFFFFF;
margin: 0px;
margin-left: 180px;
margin-top: -14px;
}
.view-detailis-element::after {
    content: ">";
    margin-left: 16px;
   }
.additional-information {
    display: none;
}
.linck-foto:hover .additional-information {
    display: block;
}  


